/* blink based browser */
html::-webkit-scrollbar {
      width: 0.7vw;
    }

    html::-webkit-scrollbar-thumb {
      background-color: #981bfe;
    }

    html::-webkit-scrollbar-thumb:hover {
      background-color: #981bfe86;
    }

    html::-webkit-scrollbar-track {
      background-color: #333;
    }

    html::-webkit-scrollbar-track:hover {
      background-color: #555;
    }
/* blink based browser */

/* geckeo based browser */
html {
  scrollbar-width: normal;
  scrollbar-color: #fe3445 #555;
}
/* geckeo based browser */